.admin{
  height: 100vh;
  display: flex;
}
.admin-page-logo{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 20px 0;
  color : #FFFFFF;
}
.admin-tabs{
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #4252bd;
}
.admin-pages{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.admin-tab{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 15px;
  padding: 20px 20px;
}
.admin-tab-icon{
  margin-right: 10px;
  font-size: 20px;
  color : #FFFFFF;
}
.admin-logout{
  float: right;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 20px;
}
.admin-logout-icon{
  font-size: 30px;
}
